.user__challenge {
  padding: 1.2rem 1.4rem;
  height: 100vh;
}

.user__challenge__inner {
  padding: 3rem;
  height: calc(100vh - 60px);
  background-color: #fff;
  border-radius: 8px;
}

.user__challenge__inner .user__challenge__header {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.user__challenge__inner .user__challenge__header img.user__challenge__icon {
  height: 120px;
  width: 120px;
  border-radius: 6px;
}

.user__challenge__inner .user__challenge__header ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.user__challenge__inner .user__challenge__header ul li:nth-child(1) button {
  background: transparent;
  border: 6px;
  height: 38px;
  border: none;
  padding: 0rem 1.2rem;
  border-radius: 6px;
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}

.user__challenge__inner .user__challenge__header ul li:nth-child(2) button {
  background: #22ad7a;
  border: 6px;
  height: 38px;
  border: none;
  padding: 0rem 1.2rem;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
}

.user__challenge__inner .user__challenge__header ul li:nth-child(3) button {
  background: #ffc65a;
  border: 6px;
  height: 38px;
  width: 38px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user__challenge__inner h3 {
  margin-bottom: 3rem;
}

.user__challenge__body {
  max-height: calc(100vh - 385px);
  overflow-y: auto;
  white-space: pre-line;
  padding-right: 1rem;
}

.user__challenge .user__challenge__body ul {
  list-style: inside !important;
}

.user__challenge .user__challenge__body ol {
  list-style: inside decimal !important;
}

.user__challenge__body::-webkit-scrollbar {
  width: 7px;
}
.user__challenge__body::-webkit-scrollbar-track {
  background: #e2e6eb;
}
.user__challenge__body::-webkit-scrollbar-thumb {
  background: #1c395c;
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
  .user__challenge {
    padding: 0.8rem 0.6rem;
  }
  .user__challenge__inner {
    padding: 1rem;
    height: calc(100vh - 28px);
  }
  .user__challenge__inner .user__challenge__header img.user__challenge__icon {
    height: 70px;
    width: 70px;
  }
  .user__challenge__body {
    max-height: calc(100vh - 270px);
  }
}

@media screen and (max-width: 575px) {
  .user__challenge__inner .user__challenge__header ul li:nth-child(1) button {
    padding: 0rem 0rem;
  }
}
