.assignment {
	background: #ffffff;
	border-radius: 10px;
	padding: 25px;
	height: calc(100vh - 110px);
	box-shadow: 1px 2px 4px #1f1d5936;
}

.assignment__header {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.assignment__header ul {
	display: flex;
	gap: 15px;
	list-style: none;
}

.assignment__header a {
	color: #000;
}

.assignment__header ul li button {
	height: 40px;
}

.assignment__header button {
	height: 40px;
	background: transparent;
	border: none;
}

.assignment__header ul li:nth-child(1) button {
	background: #22ad7a;
	border-radius: 8px;
	border: none;
	padding: 0rem 0.8rem;
	color: #fff;
}

.assignment__header ul li:nth-child(2) button {
	background-color: #1c395c;
	font-size: 14px;
	color: #fff;
	border-radius: 6px;
	padding: 0rem 1rem;
	border: none;
}

.assignment__header ul li:nth-child(3) button {
	background-color: #e9d8ff;
	font-size: 14px;
	color: #fff;
	border-radius: 6px;
	padding: 0rem 0.6rem;
	border: none;
}

.assignment__header ul li:nth-child(3) button img {
	height: 25px;
}

.assignment__header ul li:nth-child(4) button {
	background-color: #d2e7ef;
	font-size: 14px;
	color: #fff;
	border-radius: 6px;
	padding: 0rem 0.5rem;
	border: none;
	cursor: pointer;
	height: 40px;
	width: 40px;
}

.assignment__title {
	display: flex;
	gap: 4rem;
}

.assignment__title button {
	background: transparent;
	border: none;
	text-decoration: underline;
}

.assignment__title p {
	font-weight: 500;
}

.assignment__title p span {
	text-decoration: underline;
	font-weight: 600;
}

.assignment__list {
	margin-top: 2rem;
}

.assignment__list__inner {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	height: calc(100vh - 340px);
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 1rem;
}

.user__assignment__header__logo {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.assignment__list__inner::-webkit-scrollbar {
	width: 7px;
}
.assignment__list__inner::-webkit-scrollbar-track {
	background: #e2e6eb;
}
.assignment__list__inner::-webkit-scrollbar-thumb {
	background: #1c395c;
	border-radius: 10px;
}

.upload__assignment {
	padding: 2rem 0rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.upload__assignment img {
	margin-bottom: 1.2rem;
}

.upload__assignment p {
	background-color: #e9edf2;
	width: 100%;
	border-radius: 6px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.upload__assignment button {
	background-color: #1c395c;
	border-radius: 8px;
	height: 38px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	border: none;
	max-width: 220px;
	width: 100%;
}

.custom-file-input-upload {
	color: transparent;
	width: 100%;
	height: 52px;
}

.custom-file-input-upload::-webkit-file-upload-button {
	visibility: hidden;
}

.custom-file-input-upload:hover::before {
	border-color: none;
}
.custom-file-input-upload:active::before {
	background-color: #e9edf2;
}

.assignment__export__file {
	display: none;
}

@media screen and (max-width: 992px) {
	.assignment {
		padding: 18px;
	}
	.assignment__header {
		flex-direction: column;
		gap: 1rem;
	}
	.assignment__header ul {
		justify-content: end;
	}
	.assignment__title {
		flex-direction: column;
		gap: 1rem;
	}
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
	.assignment__list__inner {
		height: calc(100vh - 400px);
	}
}
