.single__challenge {
	flex: 0 0 auto;
	width: 50%;
}

.single__challenge__inner {
	box-shadow: 1px 1px 10px #e1e1ef;
	padding: 12px;
	border-radius: 8px;
}

.single__challenge ul {
	list-style: none;
	display: flex;
	padding: 2rem 0rem;
}

.single__challenge ul li {
	border: 1px solid #000;
	padding: 4px 12px;
	border-radius: 6px;
}

.single__challenge__header {
	display: flex;
	justify-content: space-between;
}

.single__challenge__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.single__Challenge__header__right {
	display: flex;
	gap: 0.4rem;
}

.single__challenge__body__number {
	margin-left: 8px;
	background-color: rgba(0, 0, 0, 0.089);
	padding: 0.4rem 0.6rem;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
}

.single__challenge__body__copytext {
	position: absolute;
	background: #000;
	color: #fff;
	right: 22%;
	top: -2rem;
	transform: translateX(-50%);
	font-size: 12px;
	padding: 5px 10px;
	border-radius: 5px;
}

.single__challenge__body__copytext::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -0.4rem;
	transform: translate(-50%);
	height: 8px;
	width: 8px;
	background: #000;
	clip-path: polygon(50% 100%, 0 0, 100% 0);
	z-index: 1;
}

.single__challenge__body__url {
	font-weight: bold;
}

.single__challenge__body a {
	border: none;
	background-color: #a9dcf2;
	border-radius: 8px;
	padding: 0.4rem 0.8rem;
	text-decoration: none;
	color: #000;
	font-weight: 500;
}

@media screen and (max-width: 992px) {
	.single__challenge {
		flex: 0 0 auto;
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 575px) {
}
